{% extends "base.html" %}
{%block title%}CITK HOSTEL MANAGEMENT SYSTEM | My issues{%endblock%}
{% block content %}
<div class="container" style="margin:40px auto 100px auto">
    <h2 style="color: #2e7d32; border-bottom: 2px solid #2e7d32; padding-bottom: 10px;">My Reported Issues</h2>
    
    <div style="overflow-x: auto; margin-top: 20px;">
        <table style="width: 100%; border-collapse: collapse; background: white; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
            <thead>
                <tr style="background-color: #2e7d32; color: white; text-align: left;">
                    <th style="padding: 15px; border: 1px solid #ddd;">Category</th>
                    <th style="padding: 15px; border: 1px solid #ddd;">Description</th>
                    <th style="padding: 15px; border: 1px solid #ddd;">Status</th>
                </tr>
            </thead>
           <tbody>
    {% for complaint in complaints %}
    <tr>
        <td style="padding: 15px; border: 1px solid #ddd; font-weight: bold;">{{ complaint.category }}</td>
        <td style="padding: 15px; border: 1px solid #ddd;">
            {{ complaint.description }}
            

            {% if complaint.image %}

            <br>
            <a href="{{ url_for('static', filename='complaint_images/' ~ complaint.image) }}" target="_blank">
            <img src="{{ url_for('static', filename='complaint_images/' ~ complaint.image) }}"
            style="max-width: 150px; margin-top: 8px; cursor: pointer; border-radius: 6px;">
            </a>

    {% endif %}
        </td>
        <td style="padding: 15px; border: 1px solid #ddd;">
            <span class="badge" style="background: #ffa000; color: white; padding: 5px 10px; border-radius: 12px; font-size: 12px;">
                {{ complaint.status }} <br>
                <a href="{{ url_for('students.delete_issues', id=complaint.id )}}"
                class="delete-btn" style="background: none; font-size:11px"
                onclick="return confirm('Delete this Issue?')">
           🗑 Delete
        </a>
            </span>
        </td>
    </tr>
    {% endfor %}
</tbody>

        </table>
    </div>
</div>
{% endblock %}