{% extends "base.html" %}
{%block title%}CITK HOSTEL MANAGEMENT SYSTEM | Report Issue{%endblock%}
{% block content %}
<div class="container margin-top" style="max-width: 600px; margin-top: 30px; margin-bottom:50px">
    
    <div style="background: #d3dcd0; padding: 30px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
        <h2 style="color:#2e7d32; margin-bottom: 5px;">Report a Hostel Issue </h2>
        <p style="color:#666; margin-bottom: 20px;"> Hostel: <strong>{{ current_user.hostel }}</strong>
        </p>

        <form method="POST"  enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div style="margin-bottom: 15px;">
                {{ form.category.label(style="display:block; margin-bottom: 5px; font-weight: bold;") }}
                {{ form.category(style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 4px;") }}
            </div>
            <div style="margin-bottom: 15px;">
                {{ form.description.label(style="display:block; margin-bottom: 5px; font-weight: bold;") }}
                {{ form.description(style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 4px; height: 150px;") }}
            </div>
            <div style="margin-bottom: 15px;">
            {{ form.image.label(style="display:block; margin-bottom: 5px; font-weight: bold;") }}
            {{ form.image(style="width: 100%;") }}
            <small style="color:#777;">Upload image if available, only(jpg, png)</small>
            </div>

            {{ form.submit(style="background: #2e7d32; color: white; border: none; padding: 12px 25px; border-radius: 4px; cursor: pointer; font-size: 16px;") }}
        </form>
    </div>

    <div class="info-panel">
            <h3>Note :</h3>
            <hr>

            <ul>
                <li><i class="fa-solid fa-user"></i>A hostel is a shared responsibility and runs better when students care about it. <br><br>Report genuine issues and be part of the solution.</li>
               
            </ul>

            <p class="info-note">
                Your report issue can make a real difference.
            </p>
        </div>
</div>
{% endblock %}