# Virtual environment
hackvenv/

# Flask instance folder
instance/

# Python cache
__pycache__/
*.pyc

# Database
*.db

#images



#complaint_images
app/static/complaint_images/

app/config.py

test.py

