{%extends 'base.html'%}

{%block title%}CITK HOSTEL MANAGEMENT SYSTEM | Feedback{%endblock%}

{%block content%}
<div class="feedbackk">

    <section class="card card_feed">
           <h2 class="feedback-heading">Feedback Form</h2>
           
   
   
           <form method="POST" action="{{ url_for('students.feedback') }}">
   
               <div class="form-group">
                   <label>Username</label>
                   <input type="text" name="username" required>
               </div>
   
               <div class="form-group">
                   <label>Email</label>
                   <input type="email" name="email" required>
               </div>
   
               <div class="form-group">
                   <label>Feedback</label>
                   <input type="text" name="feedback" required>
               </div>
   
               <button type="submit" class="btn-submit">
                   Submit Feedback
               </button>
   
           </form>
       </section>
</div>

{%endblock%}