{% extends "base.html" %}
{% block content %}

<section class="warden-section">

    <div class="section-title">
        <h1>🏫 Hostel Wardens</h1>
        <p>Central Institute of Technology Kokrajhar</p>
    </div>

    <!-- WARDEN 1 -->
    <div class="warden-card">
        <div class="warden-img">
            <img src="{{ url_for('static', filename='images/wardens/warden1.jpg') }}" alt="Dr. Shafi Kamal Rahman">
        </div>
        <div class="warden-info">
            <h2>Dr. Shafi Kamal Rahman</h2>
            <span> <strong>SNM Boys Hostel</strong></span>
            <p>📞 9957000980</p>
            <p>✉️ shafi@cit.ac.in</p>
        </div>
    </div>

    <!-- WARDEN 2 -->
    <div class="warden-card">
        <div class="warden-img">
            <img src="{{ url_for('static', filename='images/wardens/warden1.jpg') }}" alt="Mr. Jackie Brahma">
        </div>
        <div class="warden-info">
            <h2>Mr. Jackie Brahma</h2>
            <span> <strong>SNM Boys Hostel</strong></span>
            <p>📞 7086261226</p>
            <p>✉️ jackie@cit.ac.in</p>
        </div>
    </div>

    <!-- WARDEN 3 -->
    <div class="warden-card">
        <div class="warden-img">
            <img src="{{ url_for('static', filename='images/wardens/warden1.jpg') }}" alt="Dr. Apurba Kr. Raibaruah">
        </div>
        <div class="warden-info">
            <h2>Dr. Apurba Kr. Raibaruah</h2>
            <span> <strong>BJ Boys Hostel</strong></span>
            <p>📞 9365760309</p>
            <p>✉️ apurba@cit.ac.in</p>
        </div>
    </div>

    <!-- WARDEN 4 -->
    <div class="warden-card">
        <div class="warden-img">
            <img src="{{ url_for('static', filename='images/wardens/warden1.jpg') }}" alt="Mr. Bikramjit Choudhury">
        </div>
        <div class="warden-info">
            <h2>Mr. Bikramjit Choudhury</h2>
            <span> <strong>SJ Boys Hostel</strong></span>
            <p>📞 8638005168</p>
            <p>✉️ bikramjit@cit.ac.in</p>
        </div>
    </div>

    <!-- WARDEN 5 -->
    <div class="warden-card">
        <div class="warden-img">
            <img src="{{ url_for('static', filename='images/wardens/warden1.jpg') }}" alt="Dr. Manasi Buzar Baruah">
        </div>
        <div class="warden-info">
            <h2>Dr. Manasi Buzar Baruah</h2>
            <span> <strong>Girls Hostel</strong></span>
            <p>📞 9435120216</p>
            <p>✉️ manasi@cit.ac.in</p>
        </div>
    </div>

</section>

{% endblock %}
