{%extends 'base.html'%}

{%block title%}CITK HOSTEL MANAGEMENT SYSTEM | Thankyou{%endblock%}
{%block content%}

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }


        .container3 {
            max-width: 700px;
           
        }

        .container3 h1 {
            font-size: 55px;
            font-weight: 700;
            color: black;
            text-align: center;
        }

        .container3 h1 span {
            color: green; 
        }

        .container3 p {
            margin-top: 20px;
            font-size: 18px;
            color: black;
            text-align: center;
            line-height: 1.6;
        }
        .thankyou{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 80px;
        }
        .container3 a.btn {
            display: inline-block;
            margin-top: 40px;
            padding: 12px 28px;
            border: 1px solid #329e2e;
            color: black;
            border-radius: 8px;
            text-decoration: none;
            transition: 0.3s ease;
          
        }

        .container3 a.btn:hover {
            background-color: #329e2e;
            color: white;
        }
        .back-home-btn{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media (max-width:500px){
            .container3 h1 {
            font-size: 25px;
            font-weight: 700;
            color: black;
        }
        
        .container3 p {
           
            font-size: 14px;
           
        }
        .back-home-btn{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container3 a.btn {
            width: 150px;
            padding: 10px;
            text-align: center;
        }
        .back-home-btn a{
            font-size: 14px;
        }

        }

    </style>

    <div class="thankyou">

        <div class="container3">
            <h1>Thank <span>You</span> {{name}}!</h1>
            <p>Your message has been received successfully.<br>
               We'll get back to you as soon as possible.</p>
            <div class="back-home-btn">

                <a href="{{url_for('auth.home')}}" class="btn">Go Back Home</a>
            </div>
        </div>
    </div>


{%endblock%}