* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f7f6;
}

/*                       ----------------------------register.html------------------------- */
.register-main {
    min-height: 100vh;
}

/* LOGO */
.citklogo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.citklogo img {
    width: 260px;
}


.register-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 40px;
}

/* FORM BOX */
.register2-box {
    width: 380px;
    background: #ffffff;
    padding: 30px 25px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
}

.register2-box h2 {
    text-align: center;
    color: #2c5aa0;
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 500;
}

/* INPUTS */
.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 13px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    outline: none;
}

input::placeholder {
    color: #b0b0b0;
}

/* BUTTON */
.register-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #4CAF2F;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #43a327;
}

/* ACCOUNT LINK */
.account-link {
    margin-top: 18px;
    text-align: center;
    font-size: 14px;
}

.account-link a {
    text-decoration: none;
    color: #333;
    font-weight: 550;
}

.account-link a:hover {
    text-decoration: underline;
}


/* ----------------------remember meee button------------------------------- */
.remember-group {
    display: flex;          
    align-items: center;    
    margin-top: 10px;
    margin-bottom: 20px;
}


.remember-group input[type="checkbox"] {
    width: auto;           
    margin-right: 10px;     
    cursor: pointer;
}


.remember-group label {
    margin-bottom: 0;      
    font-size: 14px;
    color: #555;
    cursor: pointer;
}









/* ERRORS */
.error-msg {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}


.info-panel {
    width: 260px;
    background-color: #2e7d32;
    color: #ffffff;
    border-radius: 10px;
    padding: 18px;
    font-size: 13px;
}

.info-panel h3 {
    font-size: 15px;
    margin-bottom: 8px;
}

.info-panel hr {
    border: none;
    height: 1px;
    background: rgba(255,255,255,0.3);
    margin-bottom: 10px;
}

.info-panel ul {
    list-style: none;
}

.info-panel li {
    margin-bottom: 8px;
    display: flex;
    gap: 8px;
}

.info-panel i {
    font-size: 13px;
}


.info-note {
    margin-top: 10px;
    font-size: 12px;
    opacity: 0.9;
}


@media (max-width: 768px) {
    .register-box {
        flex-direction: column;
        align-items: center;
    }

    .info-panel {
        width: 90%;
    }
}




/*                                      ------------home page--------------------------- */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}


.top-bar {
    background-color: #1b5e20; 
    color: white;
    font-size: 12px;
    padding: 10px 0;
}

.top-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.branding-section {
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
   
}

.main-logo {
    height: 80px;
    margin-right: 20px;
    
}

.main2-logo{
    width: 50px;
    position: absolute;
    right: 30px;
}

.title-text h1 {
    font-size: 20px;
    color: #2e7d32;
    font-weight: bold;
}

.title-text h2 {
    font-size: 22px;
    color: #111;
    letter-spacing: 0.5px;
    margin: 2px 0;
    font-family: sans-serif;
}

.title-text p {
    font-size: 14px;
    color: #666;
}


.main-nav {
    background-color: #2e7d32;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 500;
    transition: background 0.3s;
}

.main-nav ul li a:hover {
    background-color: #1b5e20;
}


.badge {
    background-color: #d32f2f; 
    color: white;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 10px;
    margin-left: 5px;
}


.welcome-section {
    background: white;
    padding: 40px;
    margin-top: 30px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    text-align: center;
}

.welcome-section h3 {
    color: #2e7d32;
    margin-bottom: 10px;
}


/*                                   -----------------------------register_flash_message------------------- */

.flash-container {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.flash {
    padding: 10px 15px;
    border-radius: 6px;
    margin: 8px auto;
    width: 80%;
    font-size: 14px;
}


.flash-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Error */
.flash-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
