* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.body{
    background-color: #f4f7f6;
}


.register-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.register2-box{
    width: 18vw;
}

.register-main{
    height: 100vh;
}

.login-container {
    width: 380px;
    padding: 30px 25px;
    border: 1px solid #dcdcdc;
    text-align: center;
}

.citklogo {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.citklogo img{
    width: 25vw;
   
}

.register2-box h2 {
    color: #2c5aa0;
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 100;
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 13px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    outline: none;
}

input::placeholder {
    color: #b0b0b0;
}

.register-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #4CAF2F;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #43a327;
}

.account-link {
    margin-top: 20px;
    font-size: 14px;

}

.account-link a {
    text-decoration: none;
    color: #333333;
    font-weight: 550;
}

.account-link a:hover {
    text-decoration: underline;
}

.error-msg {
    color: red;
    font-size: 13px;
    margin-top: 4px;
}




/* ------------home page--------------------------- */



.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}


.top-bar {
    background-color: #1b5e20; 
    color: white;
    font-size: 12px;
    padding: 10px 0;
}

.top-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.branding-section {
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
   
}

.main-logo {
    height: 80px;
    margin-right: 20px;
    
}

.main2-logo{
    width: 50px;
    position: absolute;
    right: 30px;
}

.title-text h1 {
    font-size: 20px;
    color: #2e7d32;
    font-weight: bold;
}

.title-text h2 {
    font-size: 22px;
    color: #111;
    letter-spacing: 0.5px;
    margin: 2px 0;
    font-family: sans-serif;
}

.title-text p {
    font-size: 14px;
    color: #666;
}


.main-nav {
    background-color: #2e7d32;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 500;
    /* transition: background 0.3s; */
}

.main-nav ul li a:hover {
    background-color: #1b5e20;
}


.badge {
    background-color: #d32f2f; 
    color: white;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 10px;
    margin-left: 5px;
}


.welcome-section {
    background: white;
    padding: 40px;
    margin-top: 30px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    text-align: center;
}

.welcome-section h3 {
    color: #2e7d32;
    margin-bottom: 10px;
}