{% extends "base.html" %}

{% block content %}

<section class="form-section">
  <h2>➕ Add Student</h2>

  <div class="info-box">
    <p><b>Hostel:</b> {{ hostel }}</p>
    <p><b>Room No:</b> {{ room_no }}</p>
  </div>

  <form method="POST" class="student-form">

    <label>Name</label>
    <input type="text" name="username" required>

    <label>Email</label>
    <input type="email" name="email" required>


    <button type="submit">Add Student</button>

  </form>
</section>

<link rel="stylesheet" href="{{ url_for('static', filename='css/add_student.css') }}">

{% endblock %}
