{% extends "base.html" %}
{%block title%}CITK HOSTEL MANAGEMENT SYSTEM | Edit Announcement{%endblock%}
{% block content %}

<div class="announce-box">
  <h2>✏️ Edit Announcement</h2>

  <form method="POST" class="announce-form">
    <input type="text" name="title" value="{{ a.title }}" required>
    <textarea name="message" required>{{ a.message }}</textarea>

    <select name="hostel">
      <option value="">All Hostels</option>
      <option value="SJ" {% if a.hostel == "SJ" %}selected{% endif %}>SJ</option>
      <option value="MJ" {% if a.hostel == "JD" %}selected{% endif %}>MJ</option>
      <option value="MJ" {% if a.hostel == "BJ" %}selected{% endif %}>MJ</option>
      <option value="MJ" {% if a.hostel == "SNM" %}selected{% endif %}>MJ</option>
      <option value="MJ" {% if a.hostel == "GG" %}selected{% endif %}>MJ</option>
      <option value="MJ" {% if a.hostel == "BG" %}selected{% endif %}>MJ</option>
    </select>

    <label class="pin-box">
      <input type="checkbox" name="pin" {% if a.is_pinned %}checked{% endif %}>
      📌 Pin announcement
    </label>

    <button type="submit">Update</button>
  </form>
</div>

{% endblock %}
