{% extends "auth/register.html" %}

{% block title %}
login
{%endblock%}


{%block content%}
<div class="register-main">

        <div class="citklogo">
           <img src="{{ url_for('static', filename = 'images/cit-logoo.png') }}" alt="">
        </div>
        <div class="register-box">
            <div class="register2-box">
                <h2>Welcome to CIT Kokrajhar</h2>               

                <div class="input-group">
                    <input type="text" placeholder="Email">
                </div>
        
                <div class="input-group">
                    <input type="password" placeholder="Password">
                </div>               
                <button class="register-btn">Login</button>
        
                <div class="account-link">
                    <a href="{{ url_for('register') }}">Didn't have an account? Sign up</a>
            </div>

            </div>
        </div>
    </div>

{%endblock%}